header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	height:105%;
	overflow:hidden; /* Eliminamos errores de float */
	background:#e9e9e9;
	margin-bottom:20px;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header .logo {
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	align: left;
	float:left;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	background:#494949;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#f56f3a;
	border-radius:1px;
}