<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>EdeUNLa</display-name>
	<welcome-file-list>
		<welcome-file> index.jsp</welcome-file>
		<welcome-file> default.html </welcome-file>
		<welcome-file> default.htm </welcome-file>
		<welcome-file> default.jsp </welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>ControladorMostrarClienteJSP</servlet-name>
		<servlet-class>controladores.ControladorMostrarClienteJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorMostrarClienteJSP</servlet-name>
		<url-pattern>/MostrarClienteJSP </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ControladorAltaClienteJSP</servlet-name>
		<servlet-class>controladores.ControladorAltaClienteJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorAltaClienteJSP</servlet-name>
		<url-pattern>/AltaClienteJSP </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ControladorBajaClienteJSP</servlet-name>
		<servlet-class>controladores.ControladorBajaClienteJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorBajaClienteJSP</servlet-name>
		<url-pattern>/BajaClienteJSP </url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ControladorModificacionClienteJSP</servlet-name>
		<servlet-class>controladores.ControladorModificacionClienteJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorModificacionClienteJSP</servlet-name>
		<url-pattern>/ModificacionClienteJSP </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ControladorReportesJSP</servlet-name>
		<servlet-class>controladores.ControladorReportesJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorReportesJSP</servlet-name>
		<url-pattern>/ReportesJSP</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorConsultarFacturaJSP</servlet-name>
		<servlet-class>controladores.ControladorConsultarFacturaJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorConsultarFacturaJSP</servlet-name>
		<url-pattern>/ConsultarFacturaJSP </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorGenerarFacturaJSP</servlet-name>
		<servlet-class>controladores.ControladorGenerarFacturaJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorGenerarFacturaJSP</servlet-name>
		<url-pattern>/GenerarFacturaJSP </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorConsultarLecturaJSP</servlet-name>
		<servlet-class>controladores.ControladorConsultarLecturaJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorConsultarLecturaJSP</servlet-name>
		<url-pattern>/ConsultarLecturaJSP </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorAltaLecturaADJSP</servlet-name>
		<servlet-class>controladores.ControladorAltaLecturaADJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAltaLecturaADJSP</servlet-name>
		<url-pattern>/AltaLecturaADJSP </url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>controladorAltaLecturaBDJSP</servlet-name>
		<servlet-class>controladores.ControladorAltaLecturaBDJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAltaLecturaBDJSP</servlet-name>
		<url-pattern>/AltaLecturaBDJSP </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorBajaLecturaJSP</servlet-name>
		<servlet-class>controladores.ControladorBajaLecturaJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorBajaLecturaJSP</servlet-name>
		<url-pattern>/BajaLecturaJSP</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorModificacionLecturaADJSP</servlet-name>
		<servlet-class>controladores.ControladorModificacionLecturaADJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorModificacionLecturaADJSP</servlet-name>
		<url-pattern>/ModificacionLecturaADJSP</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorModificacionLecturaBDJSP</servlet-name>
		<servlet-class>controladores.ControladorModificacionLecturaBDJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorModificacionLecturaBDJSP</servlet-name>
		<url-pattern>/ModificacionLecturaBDJSP</url-pattern>
	</servlet-mapping>

</web-app>